//-----------------Variables Globales
$colorPrimary: #73B7A8; 
$colorSecondary: #852C36; 
$colorNegro: #000000;
$colorBlanco: #ffffff;
$fuentePrimary: 'Roboto', sans-serif;
$fuenteSecondary: 'Raleway', sans-serif;

footer .contacto{
    padding: 60px 0px;
    background: rgb(240, 240, 240);
}

.titulo-sobreMi{
    width: 100%;
    box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
    margin-bottom: 50px;
}

footer .contacto .contenedor{
    max-width: 940px;
}

footer .contacto h3{   
    text-align: center;
    font-family: $fuentePrimary;
    font-weight: 300;
    font-size: 40px;
}

footer .contacto .formulario{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
}


footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"],
footer .contacto .formulario textarea{
    border:2px solid #cecece;
    border-radius:5px;
    padding:15px 20px;
    font-size:17px; 
    color:#696969;
}

footer .contacto .formulario input[type="text"]:focus,
footer .contacto .formulario input[type="email"]:focus,
footer .contacto .formulario textarea:focus{
    border:2px solid #529486;
    outline: none;
}


footer .contacto .formulario input[type="text"],
footer .contacto .formulario input[type="email"]{
    width:49%;
    margin-bottom:15px;
}

footer .contacto .formulario textarea{
    width:100%;
    margin-bottom:15px;
    height:200px;
    min-width:100%;
    max-width:100%;
    min-height:150px;
    max-height:300px;
}

footer .contacto .formulario .boton{
    margin:auto;
    background:$colorPrimary;
    color:#fff;
    border:none;
    border-radius:3px;
    padding:15px 40px;
    cursor:pointer;
    transition: all .3s ease;
}

footer .contacto .formulario .boton:hover{
    background:rgb(2, 121, 95);
}

footer .redes-sociales{
    background:$colorPrimary;
    padding: 50px 0px;
}

footer .redes-sociales .contenedor{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    width:100%;
}

.correo,.whatsapp,.gitHub,.cv{
    text-align: center;
    color: $colorBlanco;
    text-decoration: none;
}

.correo:hover,.whatsapp:hover,.gitHub:hover,.cv:hover{
    color: $colorBlanco;
}


footer .redes-sociales .cv,
footer .redes-sociales .gitHub,
footer .redes-sociales .whatsapp,
footer .redes-sociales .correo{
    margin: 0px 25px;
 
}

footer .redes-sociales .cv .fa-download,
footer .redes-sociales .gitHub .fa-github,
footer .redes-sociales .whatsapp .fa-whatsapp,
footer .redes-sociales .correo .fa-envelope{
    font-size: 40px;
    color: $colorBlanco;
    margin-bottom: 10px;
}

footer .redes-sociales .cv  p,
footer .redes-sociales .gitHub  p,
footer .redes-sociales .whatsapp  p,
footer .redes-sociales .correo  p{
    font-size: 17px;
    font-family: $fuentePrimary;
    font-weight: 300;
    padding: 0px 10px;
    background-color: #6eafa2;
}


//------------- Main-Footer-Contacto --> Responsive Media Queries
@media (max-width: 800px) {
    footer .contacto .formulario input[type="text"],
    footer .contacto .formulario input[type="email"]{
        width:100%;
        margin-bottom:15px;
        padding:10px 10px;
    }
    footer .contacto .formulario textarea{
        width:100%;
        height:150px;
        max-height:200px;
    }
    footer .redes-sociales .contenedor a{
        width: 100%;
        margin: 12px 0px;
    }
    footer .redes-sociales .cv  p,
    footer .redes-sociales .gitHub  p,
    footer .redes-sociales .whatsapp  p,
    footer .redes-sociales .correo  p{
        background: none;
    }
}