.cont-sobreMi {
  padding: 60px 0px;
}

.cont-sobreMi .contenedor .sobreMi .titulo-sobreMi {
  width: 100%;
  -webkit-box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
          box-shadow: 0px 2px 3px 1px rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

.cont-sobreMi .contenedor .sobreMi .titulo-sobreMi h3 {
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 40px;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .perfil-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 30%;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .perfil-cont .img-perfil {
  border-radius: 100%;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .perfil-cont .img-perfil img {
  vertical-align: top;
  width: 270px;
  height: 270px;
  border-radius: 100%;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont {
  width: 52%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion p {
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  font-weight: 300;
  line-height: 32px;
  margin-top: 20px;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion p .text-imp {
  font-weight: 500;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion a {
  background-color: #852C36;
  color: white;
  padding: 12px 20px;
  text-decoration: none;
  border-radius: 5px;
  display: inline-block;
  margin-top: 10px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion a:hover {
  -webkit-box-shadow: 170px 0px #5f0b14 inset;
          box-shadow: 170px 0px #5f0b14 inset;
}

.cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion a i {
  margin-left: 10px;
}

@media (max-width: 800px) {
  .cont-sobreMi .contenedor .sobreMi .cont-descr-perfil {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .perfil-cont {
    width: 100%;
  }
  .cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont {
    width: 100%;
  }
  .cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion a {
    width: 170px;
    margin-top: 15px;
  }
}

@media (max-width: 600px) {
  .cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .perfil-cont .img-perfil img {
    width: 230px;
    height: 230px;
  }
  .cont-sobreMi .contenedor .sobreMi .cont-descr-perfil .descripcion-cont .descripcion p {
    font-size: 16px;
    line-height: 26px;
    margin-top: 18px;
  }
}
/*# sourceMappingURL=main_SobreMi.css.map */